.how-it-works {
    background: linear-gradient(to bottom,
            #7a3145 0px,
            #7a3145 532px,
            #576f35 532px,
            #576f35 100%);
    padding-top: 40px;
}

.container {}

.works-content-img {}

.works-img {
    border-radius: 30px;
    margin: 0 auto 120px;
}



.works-content-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.works-content-title span {
    color: #d4bfc4;
}

.works-content-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.works-content-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    counter-reset: section;
}

.works-content-item {
    border-radius: 15px;
    padding: 12px 27px 12px 100px;
    max-width: 335px;
    min-height: 76px;
    align-content: center;
    background-color: #fbfbfb;
    margin-bottom: 20px;
    position: relative;
}

.works-content-item:last-child {
    margin-bottom: 0;
}

.works-content-item-deskr {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #858585;
}

.works-content-item-deskr span {
    font-weight: 700;
    color: #141414;
}

.works-content-item::before {
    counter-increment: section;
    content: counters(section, ".") " ";

    color: #fbfbfb;
    text-align: center;
    align-content: center;


    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #7a3145;
    border: 5px solid #d4bfc4;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .how-it-works {
        background: linear-gradient(to bottom,
                #7a3145 0px,
                #7a3145 840px,
                #576f35 840px,
                #576f35 100%);
        padding-top: 100px;
    }

    .works-img {
        margin: 0 auto 200px;
    }

    .works-content {
        width: 440px;
        margin: 0 auto;
    }

    .works-content-title {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .works-content-text {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
    }

    .works-content-item {
        border-radius: 15px;
        padding: 18px 27px 18px 100px;
        max-width: 440px;

        padding: 12px 15px 12px 100px;
        margin-bottom: 24px;
    }

    .works-content-item-deskr {

        font-size: 16px;
        line-height: 1.25;

    }


}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .how-it-works {
        background: linear-gradient(to right,
                #7a3145 0px,
                #7a3145 50%,
                #576f35 50%,
                #576f35 100%);
        padding-top: 100px;
    }

    .container-works {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }

    .works-img {
        margin: 0;
    }

    .works-content-text {
        margin-bottom: 104px;
    }
}